@use '/src/scss/theme/colors';
@use '/src/scss/theme/typography';

:host {
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    row-gap: 24px;
}

h1 {
    @include typography.headline-large;
    grid-column: 1 / -1;
}

.actions {
    grid-column: 1 / -1;

    display: flex;
    justify-content: space-around;
    gap: 16px;
}

.mat-mdc-list {
    grid-column: 1 / -1;

    &.book-list {
        background-color: colors.surface();
        display: flex;
        flex-direction: column;
        gap: 8px;

        padding-inline: 16px 24px;
        padding-block: 8px;
    }
}

.mat-mdc-list-item {
    border-radius: 0;
}

.mat-mdc-list-item-title {
    @include typography.body-large;
    color: colors.on-surface();
}

.mat-mdc-list-item-line {
    @include typography.body-medium;
    color: colors.on-surface-variant();
}

.mat-mdc-list-item-meta {
    margin-inline: 16px 0;
    padding-inline: 12px;

    color: colors.on-surface-variant();
    &:active {
        color: colors.primary();
    }
}
