<h1>Книги</h1>

<button mat-flat-button (click)="addBook()">Добавить книгу</button>

<mat-list class="book-list">
    <mat-list-item *ngFor="let book of bookService.getList() | async">
      <span matListItemTitle>{{ book.name }}</span>
      <span matListItemLine>{{ book.author | author }}</span>
      <button mat-icon-button (click)="editBook(book)" matListItemMeta>
        <mat-icon>edit</mat-icon>
      </button>
    </mat-list-item>
</mat-list>
<!-- <div *ngFor="let book of bookService.getList() | async" class="booklist">
    {{ book.author | author }}: {{ book.name }}
    <button mat-icon-button (click)="editBook(book)">
        <mat-icon>edit</mat-icon>
    </button>
</div> -->