<mat-sidenav-container>
    <mat-sidenav mode="side" [opened]="authService.isAuthorized">

        <mat-nav-list>
            <a mat-list-item routerLink="page-1" routerLinkActive="mat-mdc-list-item-active"
            [routerLinkActiveOptions]="{exact: true}">
                <mat-icon>home</mat-icon>
                <div class="list-item-text">Моя страница</div>
            </a>
            <a mat-list-item routerLink="page-2" routerLinkActive="mat-mdc-list-item-active"
            [routerLinkActiveOptions]="{exact: true}">
                <mat-icon>mode_comment</mat-icon>
                <div class="list-item-text">Сообщения</div>
            </a>
            <a mat-list-item routerLink="page-3" routerLinkActive="mat-mdc-list-item-active"
            [routerLinkActiveOptions]="{exact: true}">
                <mat-icon>photo_library</mat-icon>
                <div class="list-item-text">Фото</div>
            </a>
            <a mat-list-item routerLink="page-4" routerLinkActive="mat-mdc-list-item-active"
            [routerLinkActiveOptions]="{exact: true}">
                <mat-icon>headphones</mat-icon>
                <div class="list-item-text">Музыка</div>
            </a>
            <a mat-list-item routerLink="books" routerLinkActive="mat-mdc-list-item-active"
            [routerLinkActiveOptions]="{exact: true}">
                <mat-icon>sticky_note_2</mat-icon>  
                <div class="list-item-text">Книги</div>
            </a>
        </mat-nav-list>
        <button mat-raised-button (click)="authService.logout()">Logout</button>

    </mat-sidenav>
    <mat-sidenav-content>
        <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>