@use 'theme/colors';
@use 'theme/typography';

.mat-mdc-dialog-container .mdc-dialog__surface {
    background-color: colors.surface() !important;
}

.mat-mdc-dialog-container {
    form {
        display: flex;
        flex-direction: column;

        div {
            display: flex;
            gap: 16px;
        }
    }
}